*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    
}

nav{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width: 100px;
}

.lista-header{
    display: flex;   
}

li{
    list-style: none;
    padding: 10px;
}

.header-sinistra{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.header-destra{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.bottone-inizia{
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
}

h1{
    font-size: 3.4rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.background{
    background-color: aqua;
}

.container{
    width: 60%;
    margin: auto;
}

.container-colonne-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.colonna-sinistra{
    flex-basis: 30%;
    border: solid black 1px;
}

.sottotitolo{
    margin-bottom: 20px;
}

.colonna-destra{
    border: solid black 1px;
    width: 68% ;
    
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

main{
    margin-top: 30px;
}

.prima-section{
    margin-top: 50px;
}

#input{
    display: flex;
    padding-top: 20px;
    width: 40%;
    justify-content: space-between;
    font-size: 15px;
}

.card{
    display: flex;
    width: 100%;
    border: solid black 1px;
    margin-top: 30px;
}

.colonna-uno{
    border: solid black 1px;
    width: calc(100% / 3);
}

.icona-colonna{
    height: 30px;
    border-bottom: 1px solid black;
    text-align: center;  
    padding-top: 5px;
    padding-bottom: 5px;
}

.parola-icona{
    vertical-align: middle;
}

.fa-solid{
    vertical-align: middle;
}

.padding-colonna{
    margin: 30px;
}

.prima-section-colonna{
    line-height: 30px;
}



.bottone-gratis{
    background-color: blue;
    padding: 10px;
    color: white;
    border: none;
    margin-top: 30px;
    line-height: 30px;
}

.link{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.check{
    padding-top: 20px;
    padding-bottom: 20px;
}

