*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    
}

nav{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    width: 100px;
}

ul{
    display: flex;   
}

li{
    list-style: none;
    padding: 10px;
}

.header-sinistra{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.header-destra{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.bottone-inizia{
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
}

.container{
    width: 60%;
    margin: auto;
}

.header-due{
    background-color: aqua;
}

.container-colonne-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.colonna-sinistra{
    flex-basis: 30%;
    border: solid black 1px;
}

.colonna-destra{
    border: solid black 1px;
    width: 68% ;
    height: 300px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

main{
    margin-top: 30px;
}

#input{
    display: flex;
    padding-top: 20px;
    width: 40%;
    justify-content: space-between;
    font-size: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid black 1px;
}

.colonna-uno{
    border: solid black 1px;
}

